html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: #ecf0f1;
  /*background-image: linear-gradient(to bottom, rgba(236,240,241,1) 0%, rgba(239,1,124,1) 50%, rgba(239,1,124,1) 100%);*/
  border-top: 4px solid #3498db;
  height: calc(100% - 4px);
}

.content {
  width: 360px;

  margin: 0 auto;
  position: relative;
  top: 15%;
  border-radius: 2px;
  background-color: #ecf0f1;
  box-shadow: 0px 1em 3em hsla(204, 70%, 20%, .4);


  font-family: "Raleway";
  font-weight: 100;
  text-align: center;

  transition: all 750ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.content.hide {
  opacity: 0;
  transform: scale(1.1);
}

.content .image,
.content .about-me {
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: padding-box;
  display: block;
}


.content .image {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding-top: 2em;
  padding-bottom: 1em;
}

.content .image img {
  border-radius: 108px;
  border: 6px solid rgba(255, 255, 255, .5);
}

.content .about-me {
  padding-bottom: 1em;
}

.content h1 {
  margin: 0;
  padding-top: .5em;
  padding-bottom: .25em;

  color: #2c3e50;
  text-align: center;
  font-size: 36px;
}




.content h2,
.content h3 {
  margin: 0;
  color: hsl(210, 29%, 60%);
  color: #2c3e50;

}

.content h2 {
  font-size: 18px;
}

.content h2 a {
  color: hsl(210, 80%, 80%);
  color: #3498db;
  text-decoration: none;
  transition: color 100ms ease-in;
}

.content h2 a:hover {
  color: hsl(210, 29%, 90%);
  color: #e74c3c;
}

.content h3 {
  padding: .5em;
  font-size: 14px;
  font-style: italic;
}

.content .contact {
  font-size: 0;
  background: #ecf0f1;
  border-radius: inherit;
}

.content .contact a:first-child {
  border-bottom-left-radius: inherit;
}

.content .contact a:last-child {
  border-bottom-right-radius: inherit;
}


a.github {
  color: #333;
}
a.github:hover {
  background: #333;
  color: white;
}

a.twitter {
  color: #55acee;
}
a.twitter:hover {
  background: #55acee;
  color: white;
}

a.medium {
  color: #02b875;
}
a.medium:hover {
  background: #02b875;
  color: white;
}

a.linked-in {
  color: #0077B5
}
a.linked-in:hover {
  background: #0077B5;
  color: white;
}

a.resume {
  color: #9b59b6;
}
a.resume:hover {
  background: #9b59b6;
  color: white;
}

a.email {
  color: #dc4e41;
}
a.email:hover {
  background: #dc4e41;
  color: white;
}

.content .contact a {
  font-size: 24px;
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  transition: all 150ms ease-in;
}
