html {
  height: 100%;
  overflow: hidden;
  font-size: 100%;
}

::selection {
  color: white;
  background: black;
}

body {
  padding: 0;
  margin: 0;

  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  width: 360px;
  position: relative;

  font-family: "Raleway";
  font-weight: 100;
  text-align: center;
  overflow: hidden;

  transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.content.hide {
  opacity: 0;
  transform: scale(0.95);
}

.content .image,
.content .about-me {
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: padding-box;
  display: block;
}

.content .image {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding-top: 2rem;
  padding-bottom: 1rem;
  user-select: none;
}

.content .image img {
  border-radius: 108px;
  border: 6px solid rgba(255, 255, 255, 0.5);
}

.content .about-me {
  padding-bottom: 1rem;
}

.content h1 {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;

  color: #f5f5f5;
  text-align: center;
  font-size: 2.625rem;
  overflow: hidden;
}

.content h2,
.content h3 {
  margin: 0;
  color: #f5f5f5;
}

.content h3 {
  padding: 0.35rem;
  font-style: italic;
}

.content .contact {
  font-size: 0;
  border-radius: inherit;
}

.content .contact a {
  border-radius: 30px;
  color: #f5f5f5;
  font-size: 30px;
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  transition: all 150ms ease-in;
}

.content .contact a:hover {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
}

a.github:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #333;
}

a.twitter:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #55acee;
}

a.medium:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #02b875;
}

a.linked-in:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #0077b5;
}

a.resume:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #9b59b6;
}

a.email:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #dc4e41;
}

#particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projects > h2 {
  padding: 1rem 0 1.25rem;
}

.project-container > div {
  background: rgba(51, 51, 51, 0.5);
  border-radius: 6px;
  margin: 0.25rem 0;
  transition: background 200ms ease-in;
}

.project-container > div:hover {
  background: rgba(51, 51, 51, 0.7);
}

.project-container h3 {
  margin: 0;
  padding: 0;
}

.project-container > div > a {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.25rem 1rem;
}

.project-container > div > a {
  text-align: left;
}

.project-container > div > a > i {
  padding: 1em;
}
